button {
    padding: 1rem;
    background-color: #b76d68;
    color: white;
    font-family: "Fredoka One", cursive;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 8px;
    border: 2px black solid;
    font-size: 18px;
    margin-top: 5rem;
    position: absolute;
    top: 50%;
}

.autocomplete {
    position: absolute;
    top: 50%;
    z-index: 1;
}
